[user]
    name = Lorand Szakacs
    email = lorand.szakacs@busymachines.com
[core]
    editor = subl -n -w

[push]
    default = matching

[merge]
    tool = meld
    
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    #cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[alias]
    co = checkout

[alias]
    cob = "!f() { \
         git checkout -b $1 origin/$1; \
       }; f"

[alias]
    st = status

[alias]
    lc = log ORIG_HEAD.. --stat --no-merges

[alias]
    hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

