[user]
	name = Lorand Szakacs
	email = lsz@lorandszakacs.com
[core]
	editor = /Applications/Sublime Text.app/Contents/SharedSupport/bin/subl

[init]
	templatedir = /usr/programming/git/share/git-core/templates

[push]
	default = matching

[alias]
	co = checkout

[alias]
	st = status

[alias]
	lc = log ORIG_HEAD.. --stat --no-merges

[alias]
	hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative