[init]
  defaultBranch = main
  
[user]
  name = Lorand Szakacs
  email = ...

[push]
  default = matching

[alias]
  co = checkout

[alias]
  cob = "!f() { git checkout -b $1 origin/$1; }; f"

[alias]
  st = status

[alias]
  lc = log ORIG_HEAD.. --stat --no-merges

[alias]
  hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[alias]
  sync = !"sh -c 'git pull upstream ${1-$(git symbolic-ref --short -q HEAD)}; git push' -"

[filesystem "AdoptOpenJDK|11.0.8|/dev/disk1s5"]
  timestampResolution = 10000 nanoseconds
  minRacyThreshold = 0 nanoseconds
[filesystem "AdoptOpenJDK|11.0.9|/dev/disk1s5"]
  timestampResolution = 7000 nanoseconds
  minRacyThreshold = 0 nanoseconds
